@charset "UTF-8";
.invis {
  opacity: 0;
  visibility: hidden;
}
.hidden {
  display: none !important;
}
@media (max-width: 1069px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1070px) {
  .visible-sm {
    display: none !important;
  }
}
:root {
  font-size: 16px;
  box-sizing: border-box;
}
:root * {
  box-sizing: inherit;
  outline: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #FFF;
  color: #000;
  line-height: 1.2;
  overflow-x: hidden;
  font-weight: 400;
  min-height: 100vh;
  font-family: 'OpenSans';
}
.content {
  display: flex;
  height: 100vh;
}
.content__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 290px);
}
.content__sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 140px;
  flex-shrink: 0;
  background-color: #ebeeef;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  transform: translate(100%, 0);
  transition: transform 300ms;
}
.content__sidebar.open {
  transform: translate(0, 0);
}
.table {
  flex-grow: 1;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #262626;
  position: relative;
  z-index: 1;
}
.sets {
  height: 100%;
  overflow: auto;
  padding: 30px 10px 10px;
}
.sets__tools {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 100%;
  top: 40px;
}
.sets__bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 36px;
  border-radius: 8px 0 0 8px;
  background-color: #eff3f4;
  cursor: pointer;
}
.sets__bttn::before {
  display: block;
  content: '';
  height: 40px;
  width: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.sets__bttn--toggle::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle/%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cpath d='M1,16A15,15,0,1,1,16,31,15,15,0,0,1,1,16Zm2,0A13,13,0,1,0,16,3,13,13,0,0,0,3,16Z'/%3e%3cpath d='M10.41,19.87,16,14.29l5.59,5.58a1,1,0,0,0,1.41,0h0a1,1,0,0,0,0-1.41L16.64,12.1a.91.91,0,0,0-1.28,0L9,18.46a1,1,0,0,0,0,1.41H9A1,1,0,0,0,10.41,19.87Z'/%3e%3c/g%3e%3c/svg%3e");
  transform: rotate(-90deg);
}
.open .sets__bttn--toggle::before {
  transform: rotate(90deg);
}
.set {
  width: 80px;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 auto 25px;
  user-select: none;
  position: relative;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  transition: box-shadow 300ms;
}
.set:hover {
  box-shadow: 0px 0px 13px 3px rgba(34, 60, 80, 0.35);
}
.set.active {
  box-shadow: 0px 0px 15px 5px rgba(40, 167, 69, 0.9);
}
.set__label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}
.set__name {
  display: inline-block;
  color: #000;
  background-color: #FFF;
  word-wrap: break-word;
  word-break: break-all;
  padding: 2px 5px;
}
.set img {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translate(0, 100%);
  transition: transform 300ms;
}
.cards.open {
  transform: translate(0, 0);
}
.cards__body {
  width: 100%;
  padding: 15px;
  overflow-x: scroll;
  display: flex;
  align-items: flex-start;
  background-color: #eff3f4;
}
.cards__tools {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  position: absolute;
  bottom: 100%;
  left: 40px;
}
.cards__bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 40px;
  border-radius: 8px 8px 0 0;
  background-color: #eff3f4;
  cursor: pointer;
}
.cards__bttn::before {
  display: block;
  content: '';
  height: 36px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.cards__bttn--toggle::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle/%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cpath d='M1,16A15,15,0,1,1,16,31,15,15,0,0,1,1,16Zm2,0A13,13,0,1,0,16,3,13,13,0,0,0,3,16Z'/%3e%3cpath d='M10.41,19.87,16,14.29l5.59,5.58a1,1,0,0,0,1.41,0h0a1,1,0,0,0,0-1.41L16.64,12.1a.91.91,0,0,0-1.28,0L9,18.46a1,1,0,0,0,0,1.41H9A1,1,0,0,0,10.41,19.87Z'/%3e%3c/g%3e%3c/svg%3e");
}
.open .cards__bttn--toggle::before {
  transform: scale(-1, -1);
}
.cards__bttn--random::before {
  background-size: 26px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg id='Icons' style='enable-background:new 0 0 32 32;' version='1.1' viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7d %3c/style%3e%3cpath class='st0' d='M17,29H7c-2.2,0-4-1.8-4-4V15c0-2.2,1.8-4,4-4h10c2.2,0,4,1.8,4,4v10C21,27.2,19.2,29,17,29z'/%3e%3ccircle class='st0' cx='12' cy='20' r='1'/%3e%3ccircle class='st0' cx='8' cy='16' r='1'/%3e%3ccircle class='st0' cx='16' cy='24' r='1'/%3e%3ccircle class='st0' cx='8' cy='24' r='1'/%3e%3cpath class='st0' d='M11,11V7c0-2.2,1.8-4,4-4h10c2.2,0,4,1.8,4,4v10c0,2.2-1.8,4-4,4h-4'/%3e%3ccircle class='st0' cx='24' cy='8' r='1'/%3e%3ccircle class='st0' cx='16' cy='16' r='1'/%3e%3c/svg%3e");
}
.cards__bttn--turnover::before {
  background-size: 26px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3e%3crect fill='none' height='256' width='256'/%3e%3cpolyline fill='none' points='120 176 168 224 216 176' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3e%3cpath d='M56,176V88a56,56,0,0,1,56-56h0a56,56,0,0,1,56,56V224' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'/%3e%3c/svg%3e");
}
.cards__bttn--clean::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg id='Icons' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23000000;%7d%3c/style%3e%3c/defs%3e%3cpath class='cls-1' d='M13,0H11A3,3,0,0,0,8,3V4H2A1,1,0,0,0,2,6H3V20a4,4,0,0,0,4,4H17a4,4,0,0,0,4-4V6h1a1,1,0,0,0,0-2H16V3A3,3,0,0,0,13,0ZM10,3a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V4H10Zm9,17a2,2,0,0,1-2,2H7a2,2,0,0,1-2-2V6H19Z'/%3e%3cpath class='cls-1' d='M12,9a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V10A1,1,0,0,0,12,9Z'/%3e%3cpath class='cls-1' d='M15,18a1,1,0,0,0,2,0V10a1,1,0,0,0-2,0Z'/%3e%3cpath class='cls-1' d='M8,9a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V10A1,1,0,0,0,8,9Z'/%3e%3c/svg%3e");
}
.card {
  display: none;
  width: 120px;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 15px;
  user-select: none;
}
.card img {
  width: 100%;
}
.card--drag {
  position: absolute;
  z-index: 1;
}
.card--table {
  position: absolute !important;
}
.card--back {
  position: absolute;
}
.card__num {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
}
.mix .card__num {
  display: none;
}
.card__body {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  transition: box-shadow 300ms;
}
.card__body:hover {
  box-shadow: 0px 0px 13px 3px rgba(34, 60, 80, 0.35);
}
.card__suit {
  display: block;
}
.card--back .card__suit {
  display: none;
}
.card__shirt {
  display: none;
}
.card--back .card__shirt {
  display: block;
}
.card__remove {
  display: none;
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -10px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg id='Icons' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3c/defs%3e%3cpath fill='%23FFF' d='M13,0H11A3,3,0,0,0,8,3V4H2A1,1,0,0,0,2,6H3V20a4,4,0,0,0,4,4H17a4,4,0,0,0,4-4V6h1a1,1,0,0,0,0-2H16V3A3,3,0,0,0,13,0ZM10,3a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1V4H10Zm9,17a2,2,0,0,1-2,2H7a2,2,0,0,1-2-2V6H19Z'/%3e%3cpath fill='%23FFF' d='M12,9a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V10A1,1,0,0,0,12,9Z'/%3e%3cpath fill='%23FFF' d='M15,18a1,1,0,0,0,2,0V10a1,1,0,0,0-2,0Z'/%3e%3cpath fill='%23FFF' d='M8,9a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V10A1,1,0,0,0,8,9Z'/%3e%3c/svg%3e");
}
.table .card:hover .card__remove {
  display: block;
}
.cards .card {
  position: relative;
  transition: transform 1000ms, margin 500ms;
}
.cards .card:hover::before,
.cards .card:hover::after {
  opacity: 1;
}
.cards .card::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  border-radius: 12px;
  transition: opacity 300ms;
}
.cards .card::after {
  display: block;
  content: '';
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3e%3crect fill='none' height='256' width='256'/%3e%3cpolygon fill='none' points='32 120 128 24 224 120 176 120 176 152 80 152 80 120 32 120' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='12'/%3e%3cline fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='12' x1='176' x2='80' y1='216' y2='216'/%3e%3cline fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='12' x1='176' x2='80' y1='184' y2='184'/%3e%3c/svg%3e");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 300ms;
}
.mix.cards .card {
  margin-right: 0;
}
.mix.cards .card:nth-child(2) {
  transform: translate(-100%);
}
.mix.cards .card:nth-child(3) {
  transform: translate(-200%);
}
.mix.cards .card:nth-child(4) {
  transform: translate(-300%);
}
.mix.cards .card:nth-child(5) {
  transform: translate(-400%);
}
.mix.cards .card:nth-child(6) {
  transform: translate(-500%);
}
.mix.cards .card:nth-child(7) {
  transform: translate(-600%);
}
.mix.cards .card:nth-child(8) {
  transform: translate(-700%);
}
.mix.cards .card:nth-child(9) {
  transform: translate(-800%);
}
.mix.cards .card:nth-child(10) {
  transform: translate(-900%);
}
.mix.cards .card:nth-child(11) {
  transform: translate(-1000%);
}
.mix.cards .card:nth-child(12) {
  transform: translate(-1100%);
}
.mix.cards .card:nth-child(13) {
  transform: translate(-1200%);
}
.mix.cards .card:nth-child(14) {
  transform: translate(-1300%);
}
.mix.cards .card:nth-child(15) {
  transform: translate(-1400%);
}
.mix.cards .card:nth-child(16) {
  transform: translate(-1500%);
}
.mix.cards .card:nth-child(17) {
  transform: translate(-1600%);
}
.mix.cards .card:nth-child(18) {
  transform: translate(-1700%);
}
.mix.cards .card:nth-child(19) {
  transform: translate(-1800%);
}
.mix.cards .card:nth-child(20) {
  transform: translate(-1900%);
}
.card .ui-rotatable-handle.ui-draggable {
  display: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg viewBox='0 0 96 96' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle/%3e%3cg%3e%3cpath fill='%23FFF' d='M94.2422,37.7578a5.9979,5.9979,0,0,0-8.4844,0l-2.61,2.61A36.0347,36.0347,0,0,0,48,12a35.55,35.55,0,0,0-21.6211,7.3594,5.9977,5.9977,0,0,0,7.2422,9.5625A23.6677,23.6677,0,0,1,48,24,23.957,23.957,0,0,1,70.6729,40.4766l-3.97-3.1641a5.9956,5.9956,0,1,0-7.4765,9.375l15.0351,12a5.99,5.99,0,0,0,7.98-.4453l12-12A5.9979,5.9979,0,0,0,94.2422,37.7578Z'/%3e%3cpath fill='%23FFF' d='M62.3789,67.0781A23.6675,23.6675,0,0,1,48,72,23.957,23.957,0,0,1,25.3271,55.5234l3.97,3.1641a5.9956,5.9956,0,1,0,7.4765-9.375l-15.0351-12a6.0071,6.0071,0,0,0-7.98.4453l-12,12a5.9994,5.9994,0,0,0,8.4844,8.4844l2.61-2.61A36.0347,36.0347,0,0,0,48,84a35.55,35.55,0,0,0,21.6211-7.3594,5.9977,5.9977,0,1,0-7.2422-9.5625Z'/%3e%3c/g%3e%3c/svg%3e");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 1px;
  left: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.card .ui-resizable-handle.ui-icon {
  display: none !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg data-name='Layer 1' id='Layer_1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle/%3e%3cpath fill='%23FFF' d='M28.85,27.76l.06-.2a.84.84,0,0,0,.05-.17A1.72,1.72,0,0,0,29,27V19a2,2,0,0,0-4,0v3.17L9.83,7H13a2,2,0,0,0,0-4H5a1.72,1.72,0,0,0-.39,0l-.17,0-.2.06L4,3.26a.55.55,0,0,0-.15.08,1.8,1.8,0,0,0-.55.55A.55.55,0,0,0,3.26,4a1.28,1.28,0,0,0-.11.2l-.06.2a.84.84,0,0,0,0,.17A1.72,1.72,0,0,0,3,5v8a2,2,0,0,0,4,0V9.83L22.17,25H19a2,2,0,0,0,0,4h8a1.72,1.72,0,0,0,.39,0l.17-.05.2-.06.2-.11a.55.55,0,0,0,.15-.08,1.8,1.8,0,0,0,.55-.55.55.55,0,0,0,.08-.15A1.28,1.28,0,0,0,28.85,27.76Z'/%3e%3c/svg%3e");
  background-position: center;
  background-size: contain;
  background-size: 16px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
.card:hover .ui-rotatable-handle.ui-draggable,
.card:hover .ui-resizable-handle.ui-icon {
  display: block !important;
}
.bgPanel {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 0 12px 0;
  padding: 15px;
  background-color: #eff3f4;
  z-index: 1;
  transform: translate(-100%, 0);
  transition: transform 300ms;
}
.bgPanel.open {
  transform: translate(0, 0);
}
.bgPanel__tools {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 100%;
  top: 40px;
}
.bgPanel__bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 36px;
  border-radius: 0 8px 8px 0;
  background-color: #eff3f4;
  cursor: pointer;
}
.bgPanel__bttn::before {
  display: block;
  content: '';
  height: 40px;
  width: 36px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.bgPanel__bttn--toggle::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle/%3e%3cg data-name='Layer 2' id='Layer_2'%3e%3cpath d='M1,16A15,15,0,1,1,16,31,15,15,0,0,1,1,16Zm2,0A13,13,0,1,0,16,3,13,13,0,0,0,3,16Z'/%3e%3cpath d='M10.41,19.87,16,14.29l5.59,5.58a1,1,0,0,0,1.41,0h0a1,1,0,0,0,0-1.41L16.64,12.1a.91.91,0,0,0-1.28,0L9,18.46a1,1,0,0,0,0,1.41H9A1,1,0,0,0,10.41,19.87Z'/%3e%3c/g%3e%3c/svg%3e");
  transform: rotate(90deg);
}
.open .bgPanel__bttn--toggle::before {
  transform: rotate(-90deg);
}
.bgPanel__label {
  margin-bottom: 5px;
}
.bgList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.bgItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 90px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}
.bgItem.active {
  filter: grayscale(1);
}
.bgItem.active::after {
  display: block;
  content: '';
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='%23FFF' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
}
